body {
	background-image: url("../images/grid.jpg");
	font-family: "open sans";
}

#footer {
	background-color: black;
	color: #aaa; 
	padding-top: 3em;
	padding-bottom: 3em;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	color: #ddd;
}

.social a {
	font-size: 24px;
}

.wrapper {
	background-image: url("../images/background/background.jpg");
	height: 650px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;

}

.lead h1 {
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}

.lead h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 0.2em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.vertical-spacer {
	padding-top: 2px;
	height: 8em;
	padding-bottom: 5em;
}

.vertical-spacer h2 {
	margin-top: 3em;
}	

.feature p {
	font-weight: 300;
	letter-spacing: 1px;
}

.feature img {

	margin-bottom: 2em;
}


.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 20px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #0088B6;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.btn-primary {
background-color: #1ABC9C;
border-color: #1ABC9C;
margin-top: 1em;
margin-bottom : 1em;
}

.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}
